.mypy_cache/
Courses/understanding_Images_Sanja/lectures/lecture13_hres.pdf
Courses/understanding_Images_Sanja/lectures/lecture14_hres.pdf*.pyc
Courses/udacity/projects/04_depth_estimation/release/data/

Courses/understanding_Images_Sanja/lectures/lecture14_hres.pdf

